* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  /* background-image: url('bg/bg1.png'); */
  background-size: contain;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  min-height: 100%;
}

/*for overlay to cover entire document height*/

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 4em;
  opacity: 0.8;
  margin-bottom: 10px;
}

.frame {
  padding-top: 77.5vh;
  padding-bottom: 2.5vh;
}

.content {
  padding-top: 20vh;
  width: 50vw;
  margin-left: 10vw;
  font-size: 1.2em;
  line-height: 1.6em;
}

.content p {
  margin-top: 2em;
}

.overlay,
.underlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  z-index: 99;
  background: #333;
}

.underlay {
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  background-size: cover;
}

.u1 {
  background-image: url("bg/magenta-orange.png");
}

.u2 {
  background-image: url("bg/blue-teal.png");
}

.u3 {
  background-image: url("bg/indigo-yellow.png");
}

.u4 {
  background-image: url("bg/red-teal.png");
}

.u5 {
  background-image: url("bg/red-blue.png");
}

.f1 {
  padding-top: 0;
}

.f5 {
  padding-bottom: 0;
}

.c5 {
  height: 80vh;
}

.navbar {
  z-index: 98;
  position: fixed;
  margin-left: 80vw;
  margin-top: 15vh;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.navbar li {
  display: block;
  padding-left: 0.4em;
  border-left: 3px solid #fff;
}

.navbar li:hover {
  cursor: pointer;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.arrowButton {
  position: fixed;
  margin-left: 70vw;
  margin-top: 15vh;
  width: 54px;
  height: 54px;
  padding: 3px;
  opacity: 0.3;
  -webkit-transition: opacity 500ms, width 500ms, height 500ms, padding 500ms,
    -webkit-transform 500ms;
  transition: opacity 500ms, width 500ms, height 500ms, padding 500ms,
    -webkit-transform 500ms;
  transition: transform 500ms, opacity 500ms, width 500ms, height 500ms,
    padding 500ms;
  transition: transform 500ms, opacity 500ms, width 500ms, height 500ms,
    padding 500ms, -webkit-transform 500ms;
}

.arrowButton:hover {
  opacity: 0.6;
  width: 58px;
  height: 58px;
  padding: 1px;
}

.arrowPulse {
  -webkit-animation: pulse 0.8s infinite;
  animation: pulse 0.8s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
